{% extends 'base.html' %}
{% block body %}
    <div id="editpostmodal" class="modal fade hide">
        <form method="post" action="{{ url_for('editpost') }}">
            <input type="hidden" name="next" value="{{ request.path }}"/>
            {{ editpostform.csrf_token }}
            {{ editpostform.id }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add new blogpost</h3>
            </div>
            <div class="modal-body">
                {{ editpostform.title.label }}
                {{ editpostform.title }}
                {{ editpostform.body.label }}
                {{ editpostform.body }}
                {{ editpostform.tags.label }}
                {{ editpostform.tags }}
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div> 
    <div class="row" style="background-color: #FFD7BC; margin: 35px; padding: 10px; -moz-border-radius: 10px; border-radius: 10px;">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <p>Tags: 
          {% for tag in post.tags %}
          <a>{{ tag.name }}</a>
          {% endfor %}
        </ul>
        {% if current_user.is_authenticated() and current_user.is_admin() %}
        <p>
            <a id="editpost" class="btn">Edit</a>
            <a id="deletepost" class="btn" href="{{ url_for('deletepost', postid=id) }}">Delete</a>
        </p>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#editpost').click(function() {
                    $('#editpostmodal').modal();
                  });
</script>
{% endblock %}