{% extends 'base.html' %}
{% block body %}
      <div>
        <h1>Search results</h1>
        {% if pages >= 1 %}Page {{ page }} of {{ pages }}{% endif %}
        {% for post in posts %}
        <div class="row" style="background-color: #FFD7BC; margin: 35px; padding: 10px; -moz-border-radius: 10px; border-radius: 10px;">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body|truncate(120) }}</p>
        <p>Tags: 
          {% for tag in post.tags %}
            <a>{{ tag.name }}</a>
          {% endfor %}
        </ul>
        <p><a href="{{ url_for('post', id=post.id) }}" class="btn">Read more &raquo;</a></p>
        </div>
        {% else %}
          <h2>No posts found</h2>
        {% endfor %}
        {% if pages > 1 %}
        <div class="pagination">
          <ul>
            {% if page <= 1 %}<li class="disabled"><a>Prev</a></li>
            {% else %}<li><a href="{{ url_for('search', page=page-1, query=query) }}">Prev</a></li>{% endif %}
            {% for i in range(1,pages+1) %}
              {% if i != page %}<li><a href="{{ url_for('search', page=page-1, query=query) }}">{{ i }}</a></li>
              {% else %}<li class="active"><a href="{{ url_for('search', page=page-1, query=query) }}">{{ i }}</a></li>{% endif %}
            {% endfor %}
            {% if page >= pages %}<li class="disabled"><a>Next</a></li>
            {% else %}<li><a href="{{ url_for('search', page=page-1, query=query) }}">Next</a></li>{% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
{% endblock %}